{% extends "base.php.twig" %}



{% block content %}

    <div class="page-header">
        <h1 align='center'>Neuen Eintrag hinzufügen:</h1>
    </div>

    <form class="form-horizontal" action="" method="post">
        <fieldset>

            <!-- Datum-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="datum">DATUM:</label>
                <div class="col-md-6">
                    <input id="name" name="datum" type="date" placeholder="JJJJ-MM-TT" class="form-control" value="{{ datum }}">
                    <span style="color: red;">{{ error_datum }}</span>
                </div>
            </div>

            <!-- Strecke-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="strecke">STRECKE (km):</label>
                <div class="col-md-6">
                    <input id="email" name="strecke" type="text" placeholder="nn / nn.n" class="form-control" value="{{ strecke }}">
                    <span style="color: red;">{{ error_strecke }}</span>
                </div>
            </div>

            <!-- Zeit-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="zeit">ZEIT:</label>
                <div class="col-md-6">
                    <input id="email" name="zeit" type="text" placeholder="hh:mm:ss" class="form-control" value="{{ zeit }}">
                    <span style="color: red;">{{ error_zeit }}</span>
                </div>
            </div>


            <!-- Action -->
            <div class="form-group">
                <div class="col-md-9 text-right">
                    <input type="submit" class="btn btn-primary btn-lg" name="addForm" value="ADD"></input>
                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}